html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #282826;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

span {
  color: #f78d6a;
  font-size: 20px;
  font-weight: 800;
}

span .logo2 {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
ul li {
  padding: 0px 50px;
}

a {
  text-decoration: none;
  color: #f78d6a;
}

a:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding-bottom: 40px;
}

h1 {
  color: #f78d6a;
}

#currConverter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

#firstCurrency {
  margin-left: 19px;
}

#secondCurrency {
  margin-left: 38px;
}

#amount {
  margin-left: 15px;
}

#currConverter button {
  background-color: #f78d6a;
  border: solid transparent;
  border-radius: 5px;
  color: white;
  padding: 20px;
  font-weight: 600;
  margin: 20px 0px 40px 0px;
}

#currConverter button:hover {
  background-color: #282826;
  border: #f78d6a solid;
  cursor: pointer;
}

#convertedAmount {
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 20px;
}
