html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #282826;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

span{
  color: #f78d6a;
  font-size: 20px;
  font-weight: 800;
}

span .logo2 {
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
ul li {
  padding: 0px 50px;
}

a {
  text-decoration: none;
  color:#f78d6a;
}

a:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding-bottom: 40px;
}

h1 {
  color: #f78d6a;
}

#expenseForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

#expenseDescription {
  margin-left: 20px;
}

#expenseAmount {
  margin-left: 46px;
}

#expenseForm button {
  background-color: #f78d6a;
  border: solid transparent;
  border-radius: 5px;
  color: white;
  padding: 20px;
  font-weight: 600;
  margin: 20px 0px 40px 0px;
}

#expenseForm button:hover {
  background-color: #282826;
  border: #f78d6a solid;
  cursor: pointer;
}

table {
  width: auto;
  border-collapse: collapse;
}

th,
td {
  /* padding: 10px 0px 10px 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #a7bfac;
}

th {
  color: #f78d6a;
}

.delete-button, .edit-button {
  background-color: #282826;
  color: white;
  border: #f78d6a 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #f78d6a;
  }

.edit-button:hover {
  cursor: pointer;
  background-color: #f78d6a;
}

#totalExpense{
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

